---
layout: layouts/base.njk
---
<br>


<div style='border:1px solid #eee; background: #fff;padding: 1.5em; margin: 3em -1.5em 3em -1.5em;box-shadow: 5px 5px 0 #eee'>
<h2>{{title}}</h2>

{% set tags = post.data %}
{% include "partials/tags.njk" %}

<hr>

{{content | safe}}
</div>