---
layout: layouts/page.njk
---

<style>
h3 a {
  text-decoration: underline;
}
h3 {
  font-size: 2rem;
}

.prose .post a {
  color: inherit;
  text-decoration: underline;
}
.post a:hover {
  color: #F63854;
}

.posts .post {
  padding: 2em 0;
}  

.posts, h2 {
  color: #585b60;
}

.posts .post h3 {
  color: #585b60;
}



</style>

<div class='container'>
</div>

<br>

<div class='posts'>
{% for post in collections.posts | reverse %}


  <div class='post'>
  <h3 style='margin-top:0; font-weight: bold;'>
    <a href='{{post.url}}'>
    {{post.data.title}}
    </a>
  </h3>
  <small><time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></small>
    {% set tags = post.data.tags %} {% include "partials/tags.njk" %}
  <p style='font-size:1.125rem'>{{post.data.excerpt}}</p>

  


  </div><!-- .post -->

  
{% endfor %}
</div><!-- .posts -->
<br/><br/>
